absl-py==0.2.0
appnope==0.1.0
astor==0.6.2
awscli==1.15.21
backcall==0.1.0
bleach==1.5.0
boto3==1.7.21
botocore==1.10.21
colorama==0.3.9
cycler==0.10.0
decorator==4.3.0
dill==0.2.7.1
docutils==0.14
entrypoints==0.2.3
flake8==3.5.0
gast==0.2.0
grpcio==1.11.0
h5py==2.7.1
html5lib==0.9999999
jedi==0.12.0
Jinja2==2.10
jmespath==0.9.3
jsonschema==2.6.0
Keras==2.1.6
kiwisolver==1.0.1
Lifetimes==0.9.0.0
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
maxentropy==0.2.3
mccabe==0.6.1
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.4.1
numpy==1.14.3
opencv-python==3.4.0.12
pandas==0.22.0
pandocfilters==1.4.2
parso==0.2.0
pep8==1.7.1
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
pyasn1==0.4.2
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
PyYAML==3.12
pyzmq==17.0.0
qtconsole==4.3.1
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.2
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.1
